.el-input__inner{
    height: 0.48rem;
    line-height: 0.48rem;
    width: 3.6rem;
    border: 1px solid #E0E0E5;
}
.el-input.is-active .el-input__inner, .el-input__inner:focus{
    border-color:#64c2c1;
    box-shadow:0 0 4px 0 #abcdef;
}

.errorText{
    color: #FF0000;
    font-size: .14rem;
    margin-top: .2rem;
}


/* 解决闪烁问题 */
[v-cloak] {
    display: none;
}