<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta id="metaEle" name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>已会诊</title>
    <script type="text/javascript" src="../common/jquery.min.js"></script>
    <script type="text/javascript" src="../common/link.js"></script>
    <script src="../common/element/index.js"></script>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/table.css">

</head>
<body>
<!--<div id="app" v-cloak>
    <div class="continue">
        <img src="../img/navbar_logo.png" class="navbar_logo">
        <div class="navbar_right">
            <img src="../img/icon_head.png" class="icon_head">
            <span class="name">范主任</span>
            <img src="../img/btn_pulldown.png" class="btn_pulldown" @click="pulldown">
            <div class="pulldown_page" v-if="flag">
                <el-button type="text" @click="dialog" ref="dailog">修改密码</el-button>
                <span class="sign_out" @click="SignOut">退出</span>
            </div>
        </div>
    </div>
    &lt;!&ndash; 修改密码 &ndash;&gt;
<div v-if="!flag">
    <el-dialog title="修改密码"
               :visible.sync="dialogFormVisible"
                top="2rem"
                width="7.24rem"
                :show-close=false>
        <img src="../img/cupop_btn_close2.png" @click="close" class="close_img">
        <form id="modify">
        <div class="now_psd_main">
            <label id="v_nowPsd" style="display: none">当前密码</label>
            <el-input v-model="nowPsd" placeholder="请输入当前密码" class="inp_psd" :type="nowPsdFlag?'password':'text'" validator="notNull" vname="v_nowPsd" minlength="5" maxlength="20"></el-input>
            <div  @click="isHidden">
                <img src="../img/input_btn_hide.png" class="inp_hide" v-if="nowPsdFlag">
                <img src="../img/input_btn_display.png" class="inp_dis" v-if="!nowPsdFlag">
            </div>
        </div>
        <div class="now_psd_main">
            <label id="v_nwePsd" style="display:none;">新密码</label>
            <el-input v-model="newPsd" placeholder="请输入新密码" class="inp_psd" :type="newPsdFlag?'password':'text'" validator="notNull" vname="v_nwePsd" minlength="5" maxlength="20"></el-input>
            <div @click="isHiddenNew">
                <img src="../img/input_btn_hide.png" class="inp_hide" v-if="newPsdFlag">
                <img src="../img/input_btn_display.png" class="inp_dis" v-if="!newPsdFlag">
            </div>
        </div>
        <div class="now_psd_main">
            <label id="v_twoPsd" style="display: none">确认新密码</label>
            <el-input v-model="twoNewPsd" placeholder="请确认新密码" class="inp_psd" :type="twoNewPsdFlag?'password':'text'" vname="v_twoPsd" validator="notNull" minlength="5" maxlength="20"></el-input>
            <div @click="isHiddenTwo">
                <img src="../img/input_btn_hide.png" class="inp_hide" v-if="twoNewPsdFlag">
                <img src="../img/input_btn_display.png" class="inp_dis" v-if="!twoNewPsdFlag">
            </div>
        </div>
        <div class="errorText error" style="text-align: center;margin-left: -1.2rem"></div>
        <span class="subBtn" @click="btn">提交</span>
        </form>
    </el-dialog>

</div>
</div>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data() {
            return {
                flag:false,
                dialogFormVisible: false,
                nowPsd:'',
                nowPsdFlag:true,
                newPsd:'',
                newPsdFlag:true,
                twoNewPsd:'',
                twoNewPsdFlag:true,
            }
        },
        mounted(){
    },
        methods: {
            pulldown(){
                this.flag=!this.flag;
            },
            dialog(){
                this.nowPsd='';this.newPsd='';this.twoNewPsd='';
                this.nowPsdFlag=true;this.newPsdFlag=true;this.twoNewPsdFlag=true;
                this.dialogFormVisible=true;
                this.flag=!this.flag;
            },
            close(){
                this.dialogFormVisible=false;
            },
            isHidden(){
                this.nowPsdFlag=!this.nowPsdFlag;
            },
            isHiddenNew(){
                this.newPsdFlag=!this.newPsdFlag;
            },
            isHiddenTwo(){
                this.twoNewPsdFlag=!this.twoNewPsdFlag;
            },
            btn(){
                if(validateForm(modify)){
                    if(this.newPsd!==this.twoNewPsd){
                        $('.error').html('密码输入不相同');
                        return false;
                    }
                    let url=expert.url+'/api/Users/ChangePassword?accessKey='+$.cookie(expert.cookie_key)+'&originalPassword='+this.nowPsd+'&newPassword='+this.newPsd;
                    let params={
                        accessKey:$.cookie(expert.cookie_key),
                        originalPassword:this.nowPsd,
                        newPassword:this.newPsd,
                    };
                    $.post(url,params,res=>{
                        if(res.Status==Success){
                            this.$message('修改密码成功,请重新登录');
                            setTimeout(function () {
                                window.location.href=expert.homeUrl+'login.html';
                            },3000)
                        }else {
                            this.$message(res.Error);
                        }
                    })
                }
            },
            SignOut(){
                $.destroy();
                window.location.href=expert.homeUrl+'login.html';
            }
        },
    })
</script>-->
<div class="continue_etcomm" id="app">
    <!--  头部-->
    <div class="header_etcomm">

    </div>
    <!--菜单 -->
    <div class="main_etcomm">
        <!--菜单 -->
        <div class="menu_etcomm">

        </div>
        <!-- 全部会诊-->
        <div class="all">
            <div class="all_con">
                <div class="search_header">
                    <el-date-picker
                            v-model="value_start"
                            type="date"
                            :editable="false"
                            :picker-options="pickerOptions0"
                            format="yyyy-MM-dd"
                            value-format="yyyy-MM-dd"
                            @change="changeStart"
                            placeholder="请选择开始日期">
                    </el-date-picker>
                    <el-date-picker
                            v-model="value_end"
                            type="date"
                            value-format="yyyy-MM-dd"
                            :editable="false"
                            :picker-options="pickerOptions1"
                            format="yyyy-MM-dd"
                            @change="changeEnd"
                            placeholder="请选择结束日期">
                    </el-date-picker>
                    <el-input v-model="search" placeholder="请输入关键字" class="search"></el-input>
                    <span class="search_btn">搜索</span>
                </div>
                <div class="frame">
                    <table cellspacing="0">
                        <thead>
                        <tr>
                            <th style="border-left: 0;">危机</th>
                            <th>请求时间</th>
                            <th>请求账户</th>
                            <th>医生姓名</th>
                            <th>订单状态</th>
                            <th style="border-right: 0;">未读消息</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item,index) in 10" :key="index" :class="[(index+1)%2==0?'':'bg_color',(index+1)==10?'table_bottom':'']">
                            <td style="border-left: 0">
                                <img src="../img/icon_crisis.png">
                            </td>
                            <td>
                                2018-05-23 09:00
                            </td>
                            <td>
                                docter01
                            </td>
                            <td>
                                方医生
                            </td>
                            <td>
                                未处理
                            </td>
                            <td style="border-right:0">
                                无
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- 分页 -->
                <div class="paging">
                    <el-pagination
                            background
                            :page-size.sync="pageSize"
                            @current-change="change"
                            layout="prev, pager, next"
                            :total="1000">
                    </el-pagination>
                    <span>每页{{pageSize}}条，共{{pageSize}}条</span>
                    <!--<span>暂无数据</span>-->
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data(){
            return{
                value_start: '',
                value_end: '',
                search: '',
                pageSize: expert.pageSize,
                pickerOptions0: {
                    disabledDate: (time) => {
                        if (this.value_end != "") {
                            return time.getTime() > Date.now() || time.getTime() > this.value_end;
                        } else {
                            return time.getTime() > Date.now();
                        }
                    }
                },
                pickerOptions1: {
                    disabledDate: (time) => {
                        return time.getTime() < this.value_start || time.getTime() > Date.now();
                    }
                },
            }
        },
        mounted(){
            this.initHeader();
            this.initMenu();
        },
        methods:{
            initHeader(){
                var templateSrc = '/ectommZhuanjia/page/header.html' + '?r=' + Math.random();
                $('.header_etcomm').load(templateSrc); //load
            },
            initMenu(){
                var templateMenu = '/ectommZhuanjia/page/menu.html' + '?r=' + Math.random();
                $('.menu_etcomm').load(templateMenu); //load
            },
            changeStart() {
                console.log(this.value_start);
            },
            changeEnd() {
                console.log(this.value_end);
            },
            change(val) {
                console.log(val);
            }
        }
    })
</script>
</body>
</html>